<h1>Listagem de Restaurantes</h1>

 <table class="table table-bordered table-hover">
  <tr>
    <th>Nome</th>
    <th>Endereço</th>
    <th>Especialidade</th>
    <td colspan="3">
  </tr>

<% @restaurantes.each do |restaurante| %>
  <tr>
    <td><%= restaurante.nome %></td>
    <td><%= restaurante.endereco %></td>
    <td><%= restaurante.especialidade %></td>
    <td>
      <%= link_to 'Mostrar', action: 'show', id: restaurante %>
    </td>
    <td>
      <%= link_to 'Deletar', {action: 'destroy', id: restaurante}, {method: "delete"} %>
    </td>
    <td>
  <%= link_to 'Editar', action: 'edit', id: restaurante %>
    </td>
  </tr>
<% end %>

<br/>
<%= link_to 'Novo', action: 'new' %>