<h1>Exibindo Restaurante</h1>

<p>
  <b>Nome: </b>
  <%= @restaurante.nome %>
</p>

<p>
  <b>Endereço: </b>
  <%= @restaurante.endereco %>
</p>

<p>
  <b>Especialidade: </b>
  <%= @restaurante.especialidade %>
</p>

<p>
  <b>Foto:</b>
  <%= image_tag @restaurante.foto.url(:thumb) %>
</p>

<b>Nota média: </b>
  <%= @restaurante.qualificacoes.average(:nota) %><br/>
<b>Qualificações: </b>
  <%= @restaurante.qualificacoes.count %><br/>
<b>Preço médio: </b>
  <%= @restaurante.qualificacoes.average(:valor_gasto) %><br/><br/>

<%= link_to "Qualificar este restaurante", controller: "qualificacoes", action: "new", restaurante: @restaurante %>

<p>
	<%= link_to 'Voltar', action: 'index' %>
</p>

<p>
	<%= link_to 'Deletar', {action: 'destroy', id: @restaurante}, {method: "delete"} %>
</p>

<p>
	<%= link_to 'Editar', action: 'edit', id: @restaurante %>
</p>

<%= comentarios @restaurante %>
<%= novo_comentario @restaurante %>
