<%= form_with(model: @qualificacao, local: true) do |form| %>
  <% if @qualificacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(qualificacao.errors.count, "error") %> prohibited this qualificacao from being saved:</h2>

      <ul>
      <% qualificacao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% if @qualificacao.cliente %>
    <%= form.hidden_field 'cliente_id' %>
    <% else %>
    <p><%= form.label :cliente_id %><br />
    <%= form.collection_select(:cliente_id, @clientes, :id, :nome, :prompt => true) %></p>
    <% end %>
  </div>

  <div class="field">
    <% if @qualificacao.restaurante %>
    <%= form.hidden_field 'restaurante_id' %>
    <% else %>
    <p><%= form.label :restaurante_id %><br />
    <%= form.collection_select(:restaurante_id, @restaurantes, :id, :nome, :prompt => true) %></p>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :nota %>
    <%= form.text_field :nota %>
  </div>

  <div class="field">
    <%= form.label :valor_gasto %>
    <%= form.text_field :valor_gasto %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
