<!DOCTYPE html>
<html>
<head>
  <title>VotaPrato</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= yield :css %>
</head>

<body>
  <%= nav_bar brand: "Restaurantes", brand_link: root_url do %>
    <%= menu_group do %>
    <%= menu_item "Clientes", clientes_path %>
    <%= menu_item "Qualificações", qualificacoes_path %>
    <% end %>
  <% end %>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
